1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

In [ ]:
* = Expression
'hello' = Value
-87.8 = Value
- = Expression
/ = Expression
+ = Expression
6 = Value

2. What is the difference between string and variable?

String : String is a value represented by text. 
Variable :  A Variable is name which can store any value. A variable is name of location in primary memory where value is stored.

3. Describe three different data types.

There are five different data types in Python which are as follows :
    
1. Numbers Type

Numbers data type store nummeric values. Numbers data type can store three different type of numeric values i.e. integers,
float and complex values.

Ex.  10, 20.9, 123, 1234.21, 2.0 + 2.3j, 89j


3. Sequence Data Types 

There are three different types of Sequence Data types 
a. String

The string is sequence of characters represented in the quotation marks. In Python, we can use single, double, 
or triple quotes to define a string.

Ex. 'gajanan', 'iNeuron', '128736'


b. List

The list is data type in which items are stored in a square bracket seperated by comma.

Ex. [1,2,3,4,'Gajanan']
    ['iNeuron', 23,432,12.23]
    
c. Tuple

The tuple is similar to List data type. Items are stored in simple bracket seperated by comma in tuple. Tuple is read 
only data type because we can't modify the size and value of the items of a tuple.

Ex. (a, 'Python', '12345')
    (12, 1123.5, 'Hi')
    
3. Boolean 

There are only two built-in values for Boolean data type i.e. True and False. These values determine weather a statement is true or false.

4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is a combination of operators and operands that are evaluated to produce other value.

Ex. 1. x = 15 + 1.3
    2. c = a + b

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
An assignment statement assigns a value to a variable. In spam = 10 , the value 10 is assigned to variable named spam.

A expression a is combination of operands and operators that are evaluated to a single value. A expression should atleast 
one operator and two operands.

6. After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

In [2]:

bacon = 22
bacon + 1

23

In [3]:
bacon

22

In [ ]:
bacon contains 22 after running the given code.

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [1]:
'spam' + 'spamspam'

'spamspamspam'

In [2]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

eggs is valid variable because it starts with a alphabet. In Python we cannot create a variable starting with a number.
That is why eggs is a valid variable while 100 is not.

9. What three functions can be used to get the integer, floating-point number, or string versions of a value?

In [ ]:
The int() , float() , and str( ) functions will give the integer, floating-point number, and string versions 
of the value passed to them.

In [4]:
a =  99
print(int(a))
print(float(a))
print(str(a))

99
99.0
99

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

In [5]:
'I have eaten' + 99 +  'burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
In above expresson we are trying to concatenate string data type and int data type. We cannot concatenate a string data 
type and a int data type. 'I have eaten' is string data type while 99 is a int data type.